

<employee-count *ngIf="employees"
                [all]="getTotalEmployeeCount()"
                male={{getTotalMaleEmployeeCount()}}
                female={{getTotalFemaleEmployeeCount()}}
                (countRadioButtonSelctionChanged)="onEmployeeCountRadioButtonChange($event)">
</employee-count>
<br /><br />

<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Annual Salary</th>
            <th>Date of Birth</th>
            <!--<th>Indexth>
            <th>Is First</th>
            <th>Is last</th>
            <th>Is Even</th>
            <th>Is Odd</th>-->
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let employee of employees">
            <tr *ngIf="selectedEmployeeCountRadioButton=='All'|| selectedEmployeeCountRadioButton == employee.gender ">
                <!--trackBy:trackByEmpCode let i = index; let isFirst = first; let isLast = last; let isEven = even; let isOdd = odd"-->
                <td>
                    <a [routerLink]="['/employeeslist', employee.code]">
                        {{employee.code | uppercase}}
                    </a>
                </td>
                <td>{{employee.name | employeeTitle:employee.gender}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.annualSalary | currency:'CAD':true:'1.2-2'}}</td>
                <td>{{employee.dateOfBirth | date:'longDate' }}</td>
                <!--<td>{{i}}</td>
            <td>{{isFirst}}</td>
            <td>{{isLast}}</td>
            <td>{{isEven}}</td>
            <td>{{isOdd}}</td>-->
            </tr>
        </ng-container>
        <tr *ngIf="!employees">
            <td colspan="5">{{statusMessage}}</td>
        </tr>
        <tr *ngIf="!employees && employees.length == 0">
            <td colspan="5">No employees to display</td>
        </tr>
    </tbody>
</table>
<br />
<div>
    Colour Preference :
    <input type="text" [(ngModel)]="colour" [style.background]="colour" />
</div>

<!--<br />
<button on-click="getEmployees()">Refresh Employees</button>-->