<div>
    <list-employee></list-employee>
    <br /><br />
    <!--<h1>
        {{ pageHeader ? pageHeader : "No Header" }}
    </h1>
    <img src="https://www.google.com/{{imagePath}}" />
    <p style="font-size:18px;">{{getFullName()}}</p>

    <p>Class binding</p>
    <button class="colorClass" [class]="classesToApply">Click 1</button>
    <br /><br />
    <button class="colorClass" [class.boldClass]="applyBoldClass">Click 2</button>
    <br /><br />
    <button class="colorClass" [ngClass]="addClasses()">Click 3</button>
    <br /><br />

    <p>Style binding</p>
    <button style="color:red;" [style.fontWeight]="isBold ? 'bold' : 'normal'">Click 4</button>
    <br /><br />

    <button style="color:red;" [style.font-size.px]="fontSize">Click 5</button>
    <br /><br />

    <button style="color:red;" [ngStyle]="addStyles()">Click 6</button>
    <br /><br />

    <button on-click="onClick()">Click 7</button>
    <br /><br />

    <my-employee></my-employee>-->
    
</div>